<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feedback Page</title>
</head>
<body>
<table>
    <tr>
        <td>Full Name</td>
        <td>Title</td>
        <td>Description</td>
    </tr>
    {% for feedback in feedbacks %}
    <tr>
    <td>{{ feedback.full_name }}</td>
    <td>{{ feedback.title }}</td>
    <td>{{ feedback.description }}</td>
    </tr>

    {% endfor %}

</table>
<form action="" method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="submit" name="submit">
    </form>




</body>
</html>